*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans';
    text-decoration: none;
    font-style: normal;
    font-size: 1.2rem;
    color: white;
}

.seccion1{
    width: 97.6;
    height: 100vh;

}

.espaciohead{
    height: 10%;

}

.bloqueopciones{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    position: fixed;
    border-bottom: solid 5px #ffffff;
    opacity: .95;
    paint-order: initial;

}

.logo{
    width: 10%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.opciones{
    width: 90%;
    height: 100%;
    background-color: black;
}

.LogoJupiterInc{
    height: 98%;
}

.jobs{
    width: 100%;
    height: 100%;
}

.listamenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.item{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enlace:hover, .botonSeccionUno:hover{
    font-weight: bold;
}

.item a{

}

.enterate{
    width: 100%;
    height: 100%;
    background-image: url("https://c0.wallpaperflare.com/preview/775/406/527/black-astronomy-galaxy-nebula.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: #000000;
    /* border: solid 3px red; */
}

.nosotros{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    /* border: solid 3px red; */
}

.example{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding-left: 20%;
    /* border: solid 3px blue; */
}

.imagen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    /* border: solid 3px green; */
}

.menu1{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: solid 3px brown; */
}

.titulo{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 2rem;
    text-align: justify;
    /* border: solid 3px red; */
}

.descripcion{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
    text-align: justify;
    /* border: solid 3px blue; */
}

.trabajadores{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: justify;
    list-style-type: square;
    list-style-position: inside;
    /* border: solid 3px green; */
}

.nombre{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    /* border: solid 3px yellow; */
}

.seccion2{
    width: 97.6;
    height: 100vh;

}

.contacto{
    width: 100%;
    height: 90vh;
    background-image: url("https://c0.wallpaperflare.com/preview/775/406/527/black-astronomy-galaxy-nebula.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* border: solid 3px red; */

}

.contactanos{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    /* border: solid 3px yellow; */
}

.titulo2{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 2rem;
    text-align: center;
    /* border: solid 3px cyan; */
}

.datos{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    /* border: solid 3px green; */
}

.form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    /* border: solid 3px red; */
}

.formulario{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    /* border: solid 3px blue; */
}

@media screen and (max-width: 501px) {
    .seccion1{
        width: 100vw;
        height: 100vh;
    
    }
    
    .espaciohead{
        height: 10%;
    
    }
    
    .bloqueopciones{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        position: fixed;
        border-bottom: solid 5px #ffffff;
        opacity: .95;
        paint-order: initial;
    
    }
    
    .logo{
        width: 10%;
        height: 100%;
        background-color: #000000;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .opciones{
        width: 90%;
        height: 100%;
        background-color: black;
    }
    
    .LogoJupiterInc{
        height: 98%;
    }
    
    .jobs{
        width: 100%;
        height: 100%;
    }
    
    .listamenu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    
    .item{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .enlace:hover, .botonSeccionUno:hover{
        font-weight: bold;
    }
    
    .item a{
    
    }
    
    .enterate{
        width: 100%;
        height: 100%;
        background-image: url("https://c0.wallpaperflare.com/preview/775/406/527/black-astronomy-galaxy-nebula.jpg");
        background-repeat: no-repeat;
        background-color: #000000;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        color: #000000;
        /* border: solid 3px red; */
    }
    
    .nosotros{
        width: 50%;
        height: 90%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-content: center;
        /* border: solid 3px red; */
    }
    
    .example{
        width: 80%;
        height: 30%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-content: center;
        align-items: center;
        padding-left: 20%;
        /* border: solid 3px blue; */
    }
    
    .imagen{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        /* border: solid 3px green; */
    }
    
    .menu1{
        width: 50%;
        height: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* border: solid 3px brown; */
    }
    
    .titulo{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: 2rem;
        text-align: justify;
        /* border: solid 3px red; */
    }
    
    .descripcion{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: 1.2rem;
        text-align: justify;
        /* border: solid 3px blue; */
    }
    
    .trabajadores{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-weight: 700;
        font-size: 1.4rem;
        text-align: justify;
        list-style-type: square;
        list-style-position: inside;
        /* border: solid 3px green; */
    }
    
    .nombre{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        /* border: solid 3px yellow; */
    }
    
    .seccion2{
        width: 97.6;
        height: 100vh;
    
    }
    
    .contacto{
        width: 100%;
        height: 90vh;
        background-image: url("https://c0.wallpaperflare.com/preview/775/406/527/black-astronomy-galaxy-nebula.jpg");
        background-repeat: no-repeat;
        background-color: #000000;
        background-position: center;
        background-size: cover;
        text-align: center;
        display: flex;
        flex-direction: row;
        /* border: solid 3px red; */
    
    }
    
    .contactanos{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        /* border: solid 3px yellow; */
    }
    
    .titulo2{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: 2rem;
        text-align: center;
        /* border: solid 3px cyan; */
    }
    
    .datos{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        /* border: solid 3px green; */
    }
    
    .form{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: black;
        /* border: solid 3px red; */
    }
    
    .formulario{
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: black;
        /* border: solid 3px blue; */
    }    
}
